.orderPizza {
  background-color: #ce2829;
  padding: 5%;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 300px;
}
