.success {
  background-color: #ce2829;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  justify-content: space-around;
}

.success-content p:nth-child(1) {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  color: #fdc913;
  margin: 0;
  line-height: 2.75rem;
  font-weight: 400;
}

.success-content p:nth-child(2) {
  font-family: "Barlow", cursive;
  font-size: 5.3rem;
  color: #fff;
  margin: 0;
  line-height: 5.7rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.success-content hr {
  color: #faf7f2;
}

.success-content p:nth-of-type(3) {
  font-family: "Barlow", cursive;
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
  line-height: 1.9rem;
  font-weight: 600;
}

.success-data {
  display: flex;
  flex-direction: column;
}

.success-data div {
  display: flex;
  gap: 1rem;
}

.success-data div p:nth-child(1) {
  font-family: "Barlow", cursive;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.success-data div p:nth-child(2) {
  font-family: "Barlow", cursive;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.success-sipariscard {
  display: flex;
  flex-direction: column;
  border: 1px solid #faf7f2;
  padding: 3rem;
  color: #fff;
  border-radius: 10px;
}

.success-sipariscard div {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.success-sipariscard > p {
  font-family: "Barlow", cursive;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.success-sipariscard div p {
  font-family: "Barlow", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
